/*

blue:   #A3D9FF
purple: #7E6B8F
green:  #96E6B3
red:    #DA3E52
yellow: #F2E94E

dark-red: #98091D
light-red:    #F78F9D

*/

a, a:hover {
  color: black;
}

input:focus {
    outline-width: 0;
}

.hidden {
  display: none;
}

.tabs .header {
  display: flex;
}

.tabs .header button{
  flex-grow: 1;
  color: #7E6B8F;
  background-color: inherit;
  border: none;
  padding: 0.5em;
  font-size: 130%;
  cursor: pointer;
  border-bottom: 0.5em white solid;
  border-top: 0.5em white solid;
}

.tabs .header button:focus {
  outline:none;
}

.tabs .header button.active{
  border-bottom: 0.5em #7E6B8F solid;
}



.tabs .content {
  display: none;
}

.tabs .content.active {
  display: block;
}
