.site-table {
  border-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 2em 0 0 0;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.badge.valid .icon,
.badge.valid .big,
.badge.valid .big a {
  color: #569a6f;
}

.badge.invalid .icon,
.badge.invalid .big,
.badge.invalid .big a {
  background-color: #DA3E52;
  color: white;
}

.badge.warning .icon,
.badge.warning .big,
.badge.warning .big a {
  background-color: #efb000;
  color: white;
}

@media (max-width: 639px) {
  .search {
    width: 100%;
  }

  .badge {
    width: 100%;
  }
}
