/*

blue:   #A3D9FF
purple: #7E6B8F
green:  #96E6B3
red:    #DA3E52
yellow: #F2E94E

dark-red: #98091D
light-red:    #F78F9D

*/

a, a:hover {
  color: black;
}

input:focus {
    outline-width: 0;
}

.hidden {
  display: none;
}
