/*

blue:   #A3D9FF
purple: #7E6B8F
green:  #96E6B3
red:    #DA3E52
yellow: #F2E94E

dark-red: #98091D
light-red:    #F78F9D

*/

.site-table {
  border-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #efefef;
}

a, a:hover {
  color: black;
}

.site-table tr {
  border-bottom: 1px solid whitesmoke;
}

.site-table td {
  background-color: white;
  padding: 20px 5px;
  text-align: center;
  color: black;
}

.site-table th {
  text-align: left;
  padding-left: 2em;
  background-color: #fafafa;
}

.site-table th a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: #7e6b8f;
}

.site-table th a:hover {
  text-decoration: underline;
}

.site-table th div {
  font-weight: lighter;
  color: grey;
  font-size: 0.9em;
}

.site-table td h2 {
  margin-top: 0;
}


.site-table tr:hover th {
  background: none;
}

.site-table td:not(:first-child) {
  padding: 0;
}

.site-table td .content {
  display: flex;
  align-items: center;
  margin: 0.3em;
  padding: 1em 1em;
  border-right: 1em solid white;
}

.site-table td .content i.icon {
  font-size: 1.5em;
  margin-right: 0.2em;
}

.site-table td .content span {
  align-self: center;
}

.site-table td .content .column {
  flex-direction: column;
}

.site-table td .content .grade {
  font-size: 200%;
  font-weight: bold;
  text-decoration: none;
}

.site-table td .content .grade:hover {
  text-decoration: underline;;
}

/* Check coloration */

td.unknown {
  border-color: whitesmoke;
  background-color: whitesmoke;
}

td.valid a {
  color: #569a6f;
}

td.valid .icon {
  color: #569a6f;
}

td.valid {
  border-left: 1em solid white;
}

td.invalid .icon {
  color: #DA3E52;
}

td.invalid {
  border-left: 1em solid #DA3E52;
}

td.invalid a {
  color: #DA3E52;
}

td.warning {
  border-left: 1em solid #efb000;
}

td.warning a {
  color: #efb000;
}

td.warning .icon {
  color: #efb000;
}

.site-table td .icon {
  display: block;
  float: right;
}

/* header */
#header {
  padding: 1em 0 1.2em 0;
  font-size: 1em;
  padding-left: 2em;
  overflow: hidden;

  color: white;

  background: #7E6B8F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #502a71 , #7E6B8F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #502a71 , #7E6B8F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header h1 {
  padding: .2em 0 0 0;
  margin: 0;
  font-size: 1.6em;
  font-variant: small-caps;
}

#header span {
  font-size: 1em;
}

/* search bar */
.search-bar {
  width: 10em;
  margin: 10px auto;
  padding: 8px 15px;
}

.search-bar > input {
  padding-left: 0.3em;
  border: 0.14em solid whitesmoke;
  font-size: 130%;
}

input:focus {
    outline-width: 0;
}

/* footer */
#footer {
  color: #7E6B8F;
  padding: 2em 0;
}

#footer p {
  display:flex;
  justify-content:center;
  align-items:center;
}
