dt, dd {
  display: inline-block;
  *display: inline;
  width: 46%;
  padding: 3px 2% 4px;
  margin: 0;
}

dt {
  margin-right: -1px;
}

dl {
  border-bottom: 1px solid #7E6B8F;
}

dt, dd {
  border-top: 1px solid #7E6B8F;
}

.detail-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail-category {
  width: 48%;
  text-align: left;
}

.detail-category h3 {
  margin: 0;
}
