td.show-details {
  margin-right: none;
}

td.show-details button {
  color: #7E6B8F;
  background-color: inherit;
  font-size: 2em;
  font-weight: bold;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border: none;
  cursor: pointer;
}

td.show-details button:focus {
  outline:none;
}
