.site-header {
  display: flex;
  flex-direction: row;
}

.show-details {
  margin-right: none;
  width: 40px;
  background-color: white;
}

.show-details button, .administration button {
  background-color: inherit;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border: none;
  cursor: pointer;
}

.show-details button:focus, .administration button:focus {
  outline:none;
}

.administration button:hover {
  text-decoration: underline;
}

.administration button {
  font-weight: lighter;
  color: grey;
  font-size: .9em;
  padding: 0;
}

.show-details button {
  color: #7E6B8F;
  background-color: inherit;
  font-size: 2em;
  font-weight: bold;
}
